# GENERAL DATA CLEANING
In this notebook the dataset is cleaned for the first time, deleting data that will not be useful for any of our data science tasks. Operations performed here include deletion of useless fields and rows, and changes in how the data is represented in some fields.

In [1]:
# Libraries
import numpy as np
import pandas as pd
import os

In [3]:
# Used as suffix for the cleaned dataset's file name
EXEC_MONTH = 'dec22'

# 1 - Loading Data

In [6]:
# Data comes form multiple CSV files
FILE_PATHS = []
FILE_PATHS.append(os.path.join('..', 'datasets', '221206COVID19MEXICO.csv')) # Dataset for December 6th, 2022)
FILE_PATHS.append(os.path.join('..', 'datasets', 'COVID19MEXICO2021.csv')) # Dataset for 2021
FILE_PATHS.append(os.path.join('..', 'datasets', 'COVID19MEXICO2020.csv')) # Dataset for 2020
FILE_PATHS

['..\\datasets\\221206COVID19MEXICO.csv',
 '..\\datasets\\COVID19MEXICO2021.csv',
 '..\\datasets\\COVID19MEXICO2020.csv']

In [7]:
# Defining the type of each columns reduces the memory space used by the DataFrame
types = {
    'FECHA_ACTUALIZACION': 'object',
    'ID_REGISTRO': 'object',
    'ORIGEN': np.int8,
    'SECTOR': np.int8,
    'ENTIDAD_UM': np.int8,
    'SEXO': np.int8,
    'ENTIDAD_NAC': np.int8,
    'ENTIDAD_RES': np.int8,
    'MUNICIPIO_RES': np.int8,
    'TIPO_PACIENTE': np.int8,
    'FECHA_INGRESO': 'object',
    'FECHA_SINTOMAS': 'object',
    'FECHA_DEF': 'object',
    'INTUBADO': np.int8,
    'NEUMONIA': np.int8,
    'EDAD': np.int8,
    'NACIONALIDAD': np.int8,
    'EMBARAZO': np.int8,
    'HABLA_LENGUA_INDIG': np.int8,
    'INDIGENA': np.int8,
    'DIABETES': np.int8,
    'EPOC': np.int8,
    'ASMA': np.int8,
    'INMUSUPR': np.int8,
    'HIPERTENSION':np.int8,
    'OTRA_COM': np.int8,
    'CARDIOVASCULAR': np.int8,
    'OBESIDAD': np.int8,
    'RENAL_CRONICA': np.int8,
    'TABAQUISMO': np.int8,
    'OTRO_CASO': np.int8,
    'TOMA_MUESTRA_LAB': np.int8,
    'RESULTADO_LAB': np.int8,
    'TOMA_MUESTRA_ANTIGENO': np.int8,
    'RESULTADO_ANTIGENO': np.int8,
    'CLASIFICACION_FINAL': np.int8,
    'MIGRANTE': np.int8,
    'PAIS_NACIONALIDAD': 'object',
    'PAIS_ORIGEN': 'object',
    'UCI': np.int8
}

In [10]:
# Load all the findvidual files and concatenate them into a single DataFrame
dfs = []
for i, filepath in enumerate(FILE_PATHS):
    dfs.append(pd.read_csv(filepath, encoding='latin', dtype=types))
df = pd.concat(dfs, axis='index', ignore_index=True)

In [13]:
del dfs # Free memory used by partial datasets

### General Information

#### Dataset Size

In [17]:
print(f'No. of rows: {df.shape[0]} --- No. of columns: {df.shape[1]}')

No. of rows: 18823991 --- No. of columns: 40

#### How does the DataFrame looks?

In [18]:
df.head(3)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2022-12-06,0f43ef,1,12,22,1,9,22,14,1,...,1,1,2,1,2,7,99,MÃ©xico,97,97
1,2022-12-06,17d678,1,12,16,1,16,16,67,2,...,2,2,97,1,2,7,99,MÃ©xico,97,2
2,2022-12-06,04f190,2,6,9,1,9,9,15,1,...,2,2,97,2,97,6,99,MÃ©xico,97,97

In [19]:
df.tail(3)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OTRO_CASO,TOMA_MUESTRA_LAB,RESULTADO_LAB,TOMA_MUESTRA_ANTIGENO,RESULTADO_ANTIGENO,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
18823988,2021-10-31,7d32d9,2,9,9,2,9,9,7,2,...,1,2,97,2,97,2,99,MÃ©xico,97,1
18823989,2021-10-31,660ba7,1,4,9,1,9,9,7,2,...,2,2,97,2,97,2,99,MÃ©xico,97,2
18823990,2021-10-31,52b2e6,2,4,9,2,9,15,57,2,...,2,2,97,2,97,2,99,MÃ©xico,97,2

#### Datatypes for fields and memory usage

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18823991 entries, 0 to 18823990
Data columns (total 40 columns):
 #   Column                 Dtype
---  ------                 -----
 0   FECHA_ACTUALIZACION    object
 1   ID_REGISTRO            object
 2   ORIGEN                 int8
 3   SECTOR                 int8
 4   ENTIDAD_UM             int8
 5   SEXO                   int8
 6   ENTIDAD_NAC            int8
 7   ENTIDAD_RES            int8
 8   MUNICIPIO_RES          int8
 9   TIPO_PACIENTE          int8
 10  FECHA_INGRESO          object
 11  FECHA_SINTOMAS         object
 12  FECHA_DEF              object
 13  INTUBADO               int8
 14  NEUMONIA               int8
 15  EDAD                   int8
 16  NACIONALIDAD           int8
 17  EMBARAZO               int8
 18  HABLA_LENGUA_INDIG     int8
 19  INDIGENA               int8
 20  DIABETES               int8
 21  EPOC                   int8
 22  ASMA                   int8
 23  INMUSUPR               int8
 24  HIPERTENSION           int8
 25  OTRA_COM               int8
 26  CARDIOVASCULAR         int8
 27  OBESIDAD               int8
 28  RENAL_CRONICA          int8
 29  TABAQUISMO             int8
 30  OTRO_CASO              int8
 31  TOMA_MUESTRA_LAB       int8
 32  RESULTADO_LAB          int8
 33  TOMA_MUESTRA_ANTIGENO  int8
 34  RESULTADO_ANTIGENO     int8
 35  CLASIFICACION_FINAL    int8
 36  MIGRANTE               int8
 37  PAIS_NACIONALIDAD      object
 38  PAIS_ORIGEN            object
 39  UCI                    int8
dtypes: int8(33), object(7)
memory usage: 1.6+ GB

# 2 - Data Cleaning

### Goals for the project

* Identify key aspects of the COVID-19's impact in Mexico:
    * ¿How many men and women got infected or died of COVID-19?
    * ¿Which states have suffered more because of COVID-19?
    * ¿Cómo ha ido avanzando la pandemia en México?
    * What's the general situation of infected/deceases cases of the COVID-19 in Mexico since early 2020?
    * ¿What's the performance of the different health systems in controlling the pandemic?
    * What kind of influence does previous affections have in the outcome of COVID-19 infected people?
    * What kind of influence does health complications have?
    * How infected/deceased cases of COVID-19 distribute acroos age ranges?
    * What kind of relationship exists between life expectancy and age range?
* Build predictive models that help in the diagnosis and treatment of COVID-19
    * Identify if a recently infected person is likely to die due to COVID-19
    * Predict the life expectancy of those people in order to prioritize the treatment in hospitals.

### Strategy for data cleaning

In order to acomplish the previously mentioned objectives, several actions must be done:
* Some fields can be safely deleted because they don't contain useful information for our future data science tasks:
    * ID Registro, Municipio de procedencia, Origen, Entidad_UM, Fecha de Síntomas, País de Origen, País de Nacionalidad, Migrante, Otro Caso, Tipo de Paciente, Habla lengua indígena, Fecha de actualización.
* Some rows can be deleted because they are not important for our data science tasks or have inconclusive information that could bias them.
    * Rows representing people with inconclusive/ambiguous COVID-19 results. Specially all those that are NOT classified as CONFIRMED SARC-COV-2 cases.
    * Rows with unspecified or unknown information, specially in fields representing previous affections.

## 2.1 - Field/Row Selection

### Deleting unnecesary rows

The fields"CLASIFICACION_FINAL" determines the nature of each registered case of the dataset. According to the data dictionary provided by the Health Secretariat itself, different classes exists, one of them being CONFIRMED SARS-COV-2, which represent cases where lab tests came out positive, regarding any other piece of information of the pacient. The field represents those rows with the number 3. All other rows do not have conclusive test results for COVID-19 detection so they cannnot be used to properly detect COVID cases.

In [21]:
df['CLASIFICACION_FINAL'].value_counts()

7    10888641
3     6768629
6      680071
1      364323
5       94566
2       15934
4       11827
Name: CLASIFICACION_FINAL, dtype: int64

As seen above, the number of confirmed cases is pretty large, so all other rows can be safely deleted without a relevant loss of information.

In [22]:
# The CLASIFICACION_FINAL field represents cases with numbers.
# Only the number "3" represents COVID-19 cases with positive  test results.
rows_to_delete = df[df.CLASIFICACION_FINAL != 3].index
df.drop(rows_to_delete, inplace=True)

In [23]:
print(f'No. of rows: {df.shape[0]} --- No. of columns: {df.shape[1]}')

No. of rows: 6768629 --- No. of columns: 40

### Deleting unnecesary fields

As stated before, some fields do not have useful information for our data science tasks. They can be safely deleted.

In [24]:
cols = ['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'ENTIDAD_NAC', 'ENTIDAD_RES',
        'MUNICIPIO_RES', 'NACIONALIDAD', 'HABLA_LENGUA_INDIG', 'INDIGENA', 'OTRA_COM',
        'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB', 'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO',
        'CLASIFICACION_FINAL', 'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN']
df.drop(cols, axis='columns', inplace=True)

Both the number of columns and the memory space have been reduced:

In [25]:
print(f'No. of rows: {df.shape[0]} --- No. of columns: {df.shape[1]}')

No. of rows: 6768629 --- No. of columns: 21

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6768629 entries, 3 to 18823984
Data columns (total 21 columns):
 #   Column          Dtype
---  ------          -----
 0   SECTOR          int8
 1   ENTIDAD_UM      int8
 2   SEXO            int8
 3   TIPO_PACIENTE   int8
 4   FECHA_INGRESO   object
 5   FECHA_SINTOMAS  object
 6   FECHA_DEF       object
 7   INTUBADO        int8
 8   NEUMONIA        int8
 9   EDAD            int8
 10  EMBARAZO        int8
 11  DIABETES        int8
 12  EPOC            int8
 13  ASMA            int8
 14  INMUSUPR        int8
 15  HIPERTENSION    int8
 16  CARDIOVASCULAR  int8
 17  OBESIDAD        int8
 18  RENAL_CRONICA   int8
 19  TABAQUISMO      int8
 20  UCI             int8
dtypes: int8(18), object(3)
memory usage: 322.8+ MB

## 2.2 - Reformatting field values

Many peculiarities exist whe representing information in our dataset. Specifically, there are three aspects of the dataset regarding how information is presented thet we need to address:
- The field "SEXO" is composed of 3 values: 1 represents women, 2 represents men and 99 represents unspecified cases. Cases with the number 99 will be deleted and the field will be converted to a binary variable (where 1 represents women and 0 erepresents men).
- The same representation issue appears in those fields regarding previous affection and health complications (e.g. EMBARAZO, INTUBADO, etc.). These fields present a data catalog of 5 values: 1 represents YES, 2 NO, 97 is DOES NOT APPLY, 98 is UNKNOWN and 99 is UNSPECIFIED. Only cases with numbers 1 and 2 will be kept, and these fields will be transformed to binary variables (where 1 indicates YES and 0 NO).
- The field "TIPO_PACIENTE" presents 3 values. The value 1 represents ambulatory cases of Covid-19, the value 2 represents hospitalized cases, and the value 99 is used for unspecified cases. Those last cases will de deleted and the "TIPO_PACIENTE" field will be renamed to "HOSPITALIZADO", where a value of 1 represents hospitalized pacients.

### Field "SEXO"

In [27]:
# Deleting entries with values 99
rows_to_delete = df[df.SEXO == 99].index
df.drop(rows_to_delete, inplace=True)

In [28]:
# Conversion function
clean_sex = lambda x : 1 if x == 1 else 0

In [29]:
# Conversion function is applied. Results are stores in the same column
df['SEXO'] = df['SEXO'].apply(clean_sex).astype('int8') # the field is defined as int8 to preserve memory

In [30]:
print(f'No. of rows: {df.shape[0]} --- No. of columns: {df.shape[1]}')

No. of rows: 6768629 --- No. of columns: 21

### Fields representing Previous Affections (Comorbilities)

#### Counting cases for each case type

Before modifying these fields, it's useful to look at how many instances each case type contains.

In [31]:
cols = ['NEUMONIA', 'EMBARAZO', 'DIABETES', 'EPOC', 'ASMA',
        'INMUSUPR', 'HIPERTENSION', 'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA',
        'TABAQUISMO', 'INTUBADO', 'UCI']

In [32]:
def calc_dropped_props(row):
    foo = row[97] + row[98] + row[99]
    bar = row.sum()
    return foo / bar

In [33]:
def count_case_types(df, cols):
    aux_df = pd.DataFrame(columns = [1, 2, 97, 98, 99])
    for col in cols: aux_df.loc[col] = df[col].value_counts()
    aux_df.fillna(0, inplace=True)
    aux_df = aux_df.astype('int64')
    # aux_df['Proportion'] = aux_df.apply(calc_dropped_props, axis='columns')
    aux_df.columns = ['YES (1)', 'NO (2)', 'DOES NOT APPLY (97)', 'UNKNOWN (98)', 'UNSPECIFIED (99)']
    return aux_df

In [34]:
case_types = count_case_types(df, cols)
case_types

,YES (1),NO (2),DOES NOT APPLY (97),UNKNOWN (98),UNSPECIFIED (99)
NEUMONIA,488467,6252262,0,0,27900
EMBARAZO,57940,3518367,3165446,26869,7
DIABETES,595751,6152468,0,20410,0
EPOC,46107,6703093,0,19429,0
ASMA,127109,6622266,0,19254,0
INMUSUPR,38011,6711161,0,19457,0
HIPERTENSION,807807,5941282,0,19540,0
CARDIOVASCULAR,67234,6681954,0,19441,0
OBESIDAD,660257,6089883,0,18489,0
RENAL_CRONICA,64173,6685096,0,19360,0
TABAQUISMO,366398,6382446,0,19785,0
INTUBADO,78141,588606,6096630,0,5252
UCI,51089,615660,6096630,0,5250

#### Observations
* The DOES NOT APPLY values in the "EMBARAZO" field are clearly referring to male pacients, so is safe to set those values to NO (represented with the number 2).
*  For the fields representing complications (i.e "INTUBADO" and "UCI"), the DOES NOT APPLY values refer to individuals that did not die due to COVID-19. These values can also be set to NO.
* All other values will either be deleted (number 97 and 98) or overwritten ("NO" values will be set to 0).

#### Converting case types

In [35]:
# Converts DOES NOT APPLY cases
def convert_values_for_cases(x):
    if x==1: return 1 # YES cases will stay as they are (represented with the number 1)
    if x==2: return 0 # NO cases will be represented with the number 2
    if x==97: return 0 # DOES NOT APPLY cases will be set to number 0
    else: return x # Other cases (98, 99)

In [36]:
for col in cols:
    df[col] = df[col].apply(convert_values_for_cases).astype('int8')

#### Deleting cases

In [37]:
for col in cols:
    rows_to_delete = (df[df[col] >= 98]).index
    df.drop(rows_to_delete, inplace=True)

In [38]:
print(f'No. of rows: {df.shape[0]} --- No. of columns: {df.shape[1]}')

No. of rows: 6686128 --- No. of columns: 21

### Field "TIPO\_PACIENTE"

Here we need to delete the UNSPECIFIED cases, represented with the number 99.

In [39]:
rows_to_delete = df[df['TIPO_PACIENTE'] == 99].index
df.drop(rows_to_delete, axis='rows', inplace=True)

After that, the field will be converted to a binary variable, converting the current values (1 for ambulatory pacients and 0 for hsopitalized pacients) to new values (1 for hospitalized pacientes and 0 for ambulatory ones). Also, the columns must be renamed to reflect its changed nature.

In [40]:
# Conversion function
def convert_pacient_to_hospitalized(x):
    if x == 1: return 0 # Ambulatory cases (1) will be set to 0
    else: return 1 #  Hopitalized (0) cases will be set to 1

In [41]:
# Apply conversion function to "TIPO_PACIENTE" field
df['TIPO_PACIENTE'] = df['TIPO_PACIENTE'].apply(convert_pacient_to_hospitalized).astype('int8')

In [42]:
# Rename column
df.rename(columns={'TIPO_PACIENTE': 'PAC_HOSPITALIZADO'}, inplace=True)

In [43]:
print(f'No. of rows: {df.shape[0]} --- No. of columns: {df.shape[1]}')

No. of rows: 6686128 --- No. of columns: 21

## 3 - Save Data

Once the general data cleaning has finished, data can be saved for future data science tasks

#### Dimensionality of the cleaned dataset

In [44]:
print(f'No. of rows: {df.shape[0]} --- No. of columns: {df.shape[1]}')

No. of rows: 6686128 --- No. of columns: 21

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6686128 entries, 3 to 18823984
Data columns (total 21 columns):
 #   Column             Dtype
---  ------             -----
 0   SECTOR             int8
 1   ENTIDAD_UM         int8
 2   SEXO               int8
 3   PAC_HOSPITALIZADO  int8
 4   FECHA_INGRESO      object
 5   FECHA_SINTOMAS     object
 6   FECHA_DEF          object
 7   INTUBADO           int8
 8   NEUMONIA           int8
 9   EDAD               int8
 10  EMBARAZO           int8
 11  DIABETES           int8
 12  EPOC               int8
 13  ASMA               int8
 14  INMUSUPR           int8
 15  HIPERTENSION       int8
 16  CARDIOVASCULAR     int8
 17  OBESIDAD           int8
 18  RENAL_CRONICA      int8
 19  TABAQUISMO         int8
 20  UCI                int8
dtypes: int8(18), object(3)
memory usage: 318.8+ MB

#### Which year is the data for?

In [46]:
get_ing_year = lambda x: x.split('-')[0]
ing_year = df['FECHA_INGRESO'].apply(get_ing_year)

In [47]:
ing_year.value_counts()

2022    2976755
2021    2282353
2020    1427020
Name: FECHA_INGRESO, dtype: int64

### 3.1 - Saving Dataset

In [48]:
clean_dataset_path = os.path.join('..', 'datasets', f'clean_covid_dataset_{EXEC_MONTH}.csv')
df.to_csv(clean_dataset_path, index=False)