In [1]:
import numpy as np
import pandas as pd

# Preparación de Subset para entrenamiento de algoritmos de ML

In [2]:
import os

COVID_URL = os.path.join('..', 'datasets', 'Clean_Covid_Dataset.csv')
print(COVID_URL)

..\datasets\Clean_Covid_Dataset.csv

In [3]:
# Definir el tipo de dato hace el proceso más eficiente
types = {
    'SECTOR': np.int8,
    'ENTIDAD_UM': np.int8,
    'SEXO': np.int8,
    'PAC_HOSPITALIZADO': np.int8,
    'FECHA_INGRESO': 'object',
    'FECHA_SINTOMAS': 'object',
    'FECHA_DEF': 'object',
    'INTUBADO': np.int8,
    'NEUMONIA': np.int8,
    'EDAD': np.int8,
    'EMBARAZO': np.int8,
    'DIABETES': np.int8,
    'EPOC': np.int8,
    'ASMA': np.int8,
    'INMUSUPR': np.int8,
    'HIPERTENSION':np.int8,
    'CARDIOVASCULAR': np.int8,
    'OBESIDAD': np.int8,
    'RENAL_CRONICA': np.int8,
    'TABAQUISMO': np.int8,
    'UCI': np.int8
}

In [4]:
# 'latin' porque contiene acentos
df = pd.read_csv(COVID_URL, encoding='latin', dtype=types, index_col=0)

C:\Users\Sebastián\AppData\Roaming\Python\Python38\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
df.head(3)

,SECTOR,ENTIDAD_UM,SEXO,PAC_HOSPITALIZADO,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,INTUBADO,NEUMONIA,EDAD,...,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,UCI
0,12,9,0,0,2020-10-16,2020-10-16,9999-99-99,0,0,41,...,0,0,0,0,0,0,0,0,0,0
1,12,23,1,1,2020-07-20,2020-07-17,2020-07-21,1,1,66,...,1,0,0,0,1,0,1,0,0,1
8,12,12,0,0,2020-08-19,2020-08-17,9999-99-99,0,0,47,...,1,0,0,0,0,0,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3667730 entries, 0 to 10785803
Data columns (total 21 columns):
 #   Column             Dtype
---  ------             -----
 0   SECTOR             int8
 1   ENTIDAD_UM         int8
 2   SEXO               int8
 3   PAC_HOSPITALIZADO  int8
 4   FECHA_INGRESO      object
 5   FECHA_SINTOMAS     object
 6   FECHA_DEF          object
 7   INTUBADO           int8
 8   NEUMONIA           int8
 9   EDAD               int8
 10  EMBARAZO           int8
 11  DIABETES           int8
 12  EPOC               int8
 13  ASMA               int8
 14  INMUSUPR           int8
 15  HIPERTENSION       int8
 16  CARDIOVASCULAR     int8
 17  OBESIDAD           int8
 18  RENAL_CRONICA      int8
 19  TABAQUISMO         int8
 20  UCI                int8
dtypes: int8(18), object(3)
memory usage: 174.9+ MB

## Estrategia
dkjdkjdskjdsf
delete sector, entidad
delete uci, intubado,
calc dias_hospital
calc si murio o no
estandarizar edad, dias hospital